$navbar-height: $navbar-brand-height + $navbar-padding-y * 2 + 0.5rem;

html,
body,
#app {
  height: 100vh;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: stretch;
  background-color: $wheat;
}

html {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

#app {
  overflow-y: visible;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  > main {
    padding: $navbar-height 0;
    // padding-top: $navbar-height;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}
