.gene-list {
  display: grid;
  gap: 8px;
  padding: 0.5rem 0;

  @include media-breakpoint-down(lg) {
    grid-template-rows: [a] repeat(12, 64px) [b];
    grid-template-columns: [a] repeat(1, 1fr) [b];
  }

  @include media-breakpoint-up(lg) {
    grid-template-rows: [a] repeat(6, 64px) [b];
    grid-template-columns: [a] repeat(2, 1fr) [b];
  }
  @include media-breakpoint-up(xl) {
    grid-template-rows: [a] repeat(4, 64px) [b];
    grid-template-columns: [a] repeat(3, 1fr) [b];
  }

  &-total {
    flex: 0 1 15em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 2.5em;
    padding-right: 1em;
    clip-path: polygon(2em 0%, 100% 0%, 100% 100%, 0 100%);
  }
  &-load,
  &-not-found {
    grid-row: a / b;
    grid-column: a / b;
  }

  &-item {
    transition: all 0.2s;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $meringue;
    &.selected {
      background-color: $brown;
      color: $light;
    }
    &.disabled {
      background-color: $wheat;
    }

    &-icon {
      flex: 0 0 3rem;
    }
    &-content {
      flex-grow: 1;
      align-self: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }
    &-append {
      align-self: stretch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
