.gene-table
  overflow-x: scroll
  th
    white-space: nowrap !important
  .t-element, .t-pattern, .t-cost, .t-level
    width: 50px !important
  .t-gene, .t-skill
    width: 150px
  .t-type
    width: 65px
  .t-monster
    width: 100px
  .t-description
    width: 250px
